<%- include('parts/header')%>

    <div class="container text-center">
    <p class="alert alert-danger">Error 404!</p>
    <form action="/">
        <input type="submit" class="btn btn-danger" value="Home" formaction="/">
    </form>
    </div>
 <%- include('parts/footer')%>